<li>
    <a asp-controller="AdminDashboard" asp-action="Index">
        <i class="fas fa-tachometer-alt"></i> Dashboard
    </a>
</li>
<li>
    <a asp-controller="AdminDashboard" asp-action="ManageUsers">
        <i class="fas fa-users-cog"></i> Manage Users
    </a>
</li>
<li>
    <a asp-controller="AdminDashboard" asp-action="ManageConsultants">
        <i class="fas fa-user-tie"></i> Manage Consultants
    </a>
</li>
<li>
    <a asp-controller="AdminDashboard" asp-action="ViewReports">
        <i class="fas fa-chart-bar"></i> View Reports
    </a>
</li>
<li>
    <a asp-controller="AdminDashboard" asp-action="SystemLogs">
        <i class="fas fa-list-alt"></i> System Logs
    </a>
</li>