
<li>
    <a asp-controller="AdminDashboard" asp-action="Index">
        <i class="fas fa-tachometer-alt"></i> Dashboard
    </a>
</li>
<li>
    <a asp-controller="AdminDashboard" asp-action="UserManagement">
        <i class="fas fa-users-cog"></i> Manage Users
    </a>
</li>
<li>
    <a asp-controller="AdminDashboard" asp-action="ManageConsultants">
        <i class="fas fa-user-tie"></i> Manage Consultants
    </a>
</li>
<li>
    <a asp-controller="AdminDashboard" asp-action="ViewCustomer">
        <i class="fas fa-chart-bar"></i> View Reports
    </a>
</li>
<li>
    <a asp-controller="AdminDashboard" asp-action="ViewAdvices">
        <i class="fas fa-chart-bar"></i> View Advices
    </a>
</li>
<li>
    <a asp-controller="AdminDashboard" asp-action="ViewAllLogins">
        <i class="fas fa-list-alt"></i> View Logins
    </a>
</li>
<li>
    <a asp-controller="AdminDashboard" asp-action="ViewAllUserReviews">
        <i class="fas fa-list-alt"></i> View User Reviews
    </a>
</li>
<li>
    <a asp-controller="Account" asp-action="Logout">
        <i class="fas fa-sign-in-alt"></i> Logout
    </a>
</li>
