<li>
    <a asp-controller="ConsultantDashboard" asp-action="Index">
        <i class="fas fa-tachometer-alt"></i> Dashboard
    </a>
</li>
@* <li>
    <a asp-controller="ConsultantDashboard" asp-action="ViewCustomer">
        <i class="fas fa-users"></i> Manage Customers
    </a>
</li> *@
<li>
    <a asp-controller="ConsultantDashboard" asp-action="ViewAllUserReviews">
        <i class="fas fa-exchange-alt"></i> View Ratings & Reviews
    </a>
</li>
<li>
    <a asp-controller="ConsultantDashboard" asp-action="ViewAllLogins">
        <i class="fas fa-exchange-alt"></i> View All Logins
    </a>
</li>
<li>
    <a asp-controller="ConsultantDashboard" asp-action="GenerateReports">
        <i class="fas fa-file-alt"></i> Generate Reports
    </a>
</li>
<li>
    <a asp-controller="ConsultantDashboard" asp-action="CustomerSupport">
        <i class="fas fa-headset"></i> Customer Support
    </a>
</li>
<li>
    <a asp-controller="Account" asp-action="Logout">
        <i class="fas fa-sign-in-alt"></i> Logout
    </a>
</li>