<li>
    <a asp-controller="ConsultantDashboard" asp-action="Index">
        <i class="fas fa-tachometer-alt"></i> Dashboard
    </a>
</li>
<li>
    <a asp-controller="Consultant" asp-action="ManageCustomers">
        <i class="fas fa-users"></i> Manage Customers
    </a>
</li>
<li>
    <a asp-controller="Consultant" asp-action="Transactions">
        <i class="fas fa-exchange-alt"></i> Assist Transactions
    </a>
</li>
<li>
    <a asp-controller="Consultant" asp-action="GenerateReports">
        <i class="fas fa-file-alt"></i> Generate Reports
    </a>
</li>
<li>
    <a asp-controller="Consultant" asp-action="CustomerSupport">
        <i class="fas fa-headset"></i> Customer Support
    </a>
</li>
<li>
    <a asp-controller="Account" asp-action="Logout">
        <i class="fas fa-sign-in-alt"></i> Logout
    </a>
</li>