<li>
    <a asp-controller="CustomerDashboard" asp-action="Index">
        <i class="fas fa-tachometer-alt"></i> Dashboard
    </a>
</li>
<li>
    <a asp-controller="CustomerDashboard" asp-action="ViewAccount">
        <i class="fas fa-wallet"></i> Account Overview
    </a>
</li>
<li>
    <a asp-controller="CustomerDashboard" asp-action="TransferMoneyView">
        <i class="fas fa-exchange-alt"></i> Transfer Funds
    </a>
</li>
<li>
    <a asp-controller="CustomerDashboard" asp-action="TransactionHistory">
        <i class="fas fa-history"></i> Transaction History
    </a>
</li>
<li>
    <a asp-controller="Notification" asp-action="Index">
        <i class="fas fa-bell"></i> Notifications
    </a>
</li>
<li>
    <a asp-controller="Profile" asp-action="Edit">
        <i class="fas fa-user-edit"></i> Edit Profile
    </a>
</li>
<li>
    <a asp-controller="Profile" asp-action="ChangePassword">
        <i class="fas fa-key"></i> Change Password
    </a>
</li>
<li>
    <a asp-controller="Account" asp-action="Logout">
        <i class="fas fa-sign-in-alt"></i> Logout
    </a>
</li>