<li>
    <a asp-controller="FinancialAdvisorDashboard" asp-action="Index">
        <i class="fas fa-tachometer-alt"></i> Dashboard
    </a>
</li>
<li>
    <a asp-controller="FinancialAdvisorDashboard" asp-action="ViewCustomerAccounts">
        <i class="fas fa-user-friends"></i> View Customer Accounts
    </a>
</li>
<li>
    <a asp-controller="FinancialAdvisorDashboard" asp-action="ProvideAdvice">
        <i class="fas fa-comments-dollar"></i> Provide Financial Advice
    </a>
</li>
<li>
    <a asp-controller="Account" asp-action="Logout">
        <i class="fas fa-sign-in-alt"></i> Logout
    </a>
</li>
@* <li>
    <a asp-controller="FinancialAdvisor" asp-action="FinancialReports">
        <i class="fas fa-chart-line"></i> Financial Reports
    </a>
</li>
<li>
    <a asp-controller="FinancialAdvisor" asp-action="ScheduleAppointments">
        <i class="fas fa-calendar-alt"></i> Schedule Appointments
    </a>
</li> *@