<ul class="list-unstyled">
    <li>
        <a asp-controller="UserDashboard" asp-action="Index">
            <i class="fas fa-tachometer-alt"></i> Dashboard
        </a>
    </li>
    <li>
        <a asp-controller="UserDashboard" asp-action="ViewAccount">
            <i class="fas fa-wallet"></i> Account Overview
        </a>
    </li>
    <li>
        <a asp-controller="UserDashboard" asp-action="Transfer">
            <i class="fas fa-exchange-alt"></i> Transfer Funds
        </a>
    </li>
    <li>
        <a asp-controller="UserDashboard" asp-action="TransactionHistory">
            <i class="fas fa-history"></i> Transaction History
        </a>
    </li>
    <li>
        <a asp-controller="UserDashboard" asp-action="Notifications">
            <i class="fas fa-bell"></i> Notifications
        </a>
    </li>
    <li>
        <a asp-controller="UserDashboard" asp-action="EditProfile">
            <i class="fas fa-user-edit"></i> Edit Profile
        </a>
    </li>
    <li>
        <a asp-controller="UserDashboard" asp-action="ChangePassword">
            <i class="fas fa-key"></i> Change Password
        </a>
    </li>
</ul>