@model RegisterViewModel

<div class="card">
    <h2 class="card-title m-4 text-dark">Create a New User</h2>
</div>

<form asp-action="AdminCreateUser" asp-controller="AdminDashboard" method="post">
    <div class="form-group">
        <label asp-for="RegisterAs"></label>
        <select asp-for="RegisterAs" class="form-control">
            <option value="User">Student</option>
            <option value="User">Staff</option>
            <option value="Consultant">Consultant</option>
            <option value="FinancialAdvisor">Financial Advisor</option>
        </select>
        <span asp-validation-for="RegisterAs" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress" class="form-control" />
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IdPassportNumber"></label>
        <input asp-for="IdPassportNumber" class="form-control" />
        <span asp-validation-for="IdPassportNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StudentStaffNumber"></label>
        <input asp-for="StudentStaffNumber" class="form-control" />
        <span asp-validation-for="StudentStaffNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create User</button>
</form>

<div>
    <a asp-action="UserManagement" asp-controller="AdminDashboard" class="btn btn-secondary">Back to User List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
