@model UserPageViewModel
@{
    ViewData["Title"] = "Users Management";
}
<h2>All Users</h2>
<table class="table">
    <thead>
        <tr>
            <th>Account Number</th>
            <th>Email</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.AppUsers)
        {
            <tr>
                <td>@user.BankAccount.AccountNumber</td>
                <td>@user.fullName</td>
                <td>@user.BankAccount.Balance</td>
            </tr>
        }
    </tbody>
</table>
